* {
    font-family: Arial, Helvetica, sans-serif;
}
#outer-box {
    width: 1150px;
    font-size: large;
    padding-left: 50px;
    padding-top: 5px;
    line-height: 150%;
}
#span-1 {
    width: 830px;
    padding-right: 10px
}
#list-no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-no-bullets-items {
    padding: 3px;
    font-weight: normal;
}
#koala-h2 {
    margin-bottom: 7px;
}
#koala-box {
    color: #666677;
    background-color: #eeeeee;
    font-size: large;
    width: 300px;
    height: 150px;
    padding-left: 20px;
    padding-bottom: 15px;
}
#section-1 {
    display: flex;
    height: 175px;
    padding-bottom: 20px;
}
#set-the-scene {
    background-color: #f3cd4a;
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -40px;
}
ul li {
    font-weight: 900;
}
ul li span {
    font-weight: normal;
}