.cbcContainer {
    background-color: #8b8b8b;
    min-height: 50px;
    max-height: 50px;
    border-radius: 25px;
    cursor: pointer;
    align-self: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}
.cbcContainer:hover {
    background-color: #EE5837;
}
.cbcText {
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
}